Repository samvera/questioning_authority, pull requests merged in 2019-04, with the labels that each got.

#222 Add CircleCI instead of Travis
  .circleci/config.yml
  .travis.yml
  README.md
  qa.gemspec
Labels: maintenance ready

#223 allow language to be specified in the http accept_language header
  .circleci/config.yml
  app/controllers/qa/linked_data_terms_controller.rb
  app/services/qa/iri_template_service.rb
  app/services/qa/linked_data/authority_url_service.rb
  app/services/qa/linked_data/language_service.rb
  lib/qa/authorities/linked_data/config/search_config.rb
  lib/qa/authorities/linked_data/config/term_config.rb
  lib/qa/authorities/linked_data/find_term.rb
  lib/qa/authorities/linked_data/search_query.rb
  spec/features/linked_data/language_spec.rb
  spec/fixtures/authorities/linked_data/lod_full_config.json
  spec/fixtures/lod_lang_search_enesfrde.rdf.xml
  spec/fixtures/lod_lang_search_sv.rdf.xml
  spec/lib/authorities/linked_data/config_spec.rb
  spec/lib/authorities/linked_data/search_config_spec.rb
  spec/lib/authorities/linked_data/term_config_spec.rb
  spec/services/iri_template_service_spec.rb
  spec/services/linked_data/language_service_spec.rb
Labels: enhancement, linked data

#225 extract out ldpath processing into ldpath service
  app/models/qa/linked_data/config/context_property_map.rb
  app/services/qa/linked_data/ldpath_service.rb
  lib/generators/qa/install/templates/config/initializers/qa.rb
  lib/qa.rb
  lib/qa/authorities/linked_data/config.rb
  lib/qa/configuration.rb
  spec/lib/configuration_spec.rb
  spec/models/linked_data/config/context_property_map_spec.rb
  spec/services/linked_data/ldpath_service_spec.rb
Labels: enhancement, linked data

#227 Update search/term configs to be able to read in results config specified as ldpath
  lib/qa/authorities/linked_data/config/search_config.rb
  lib/qa/authorities/linked_data/config/term_config.rb
  spec/lib/authorities/linked_data/search_config_spec.rb
  spec/lib/authorities/linked_data/term_config_spec.rb
Labels: enhancement, linked data

#228 Move search and find tests SearchQuery and FindTerm specs
  spec/lib/authorities/linked_data/find_term_spec.rb
  spec/lib/authorities/linked_data/generic_authority_spec.rb
  spec/lib/authorities/linked_data/search_query_spec.rb
Labels: refactor
